.popup__button_close {
    position: absolute;
    min-width: 32px;
    min-height: 32px;
    background-image: url("../../../../image/сlose_icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    left: calc(430px + 8px);
    top: calc(-32px - 8px)
}

.popup__button_close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 659px) {
    .popup__button_close {
        min-width: 20px;
        min-height: 20px;
        left: calc(282px - 20px);
        top: calc(-20px + -16px)
    }
}