.profile {
    max-width: 880px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    grid-template-rows: 1fr;
    align-items: center;
}

@media screen and (max-width: 659px) {
    .profile {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        justify-items: stretch;
    }
}