.card__button_state_disabled {
    background-image: url("../../../../image/card__button_state_disabled.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    transition: 0.3s ease;
    border: none;
}

.card__button_state_disabled:hover {
    opacity: 0.6;
}