.button_profile_add {
    min-height: 50px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    background-image: url("../../../image/add_button.svg");
}

.button_profile_add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 659px) {
    .button_profile_add {
        background-size: 16px;
    }
}