.button_profile_edit {
    grid-column: 2;
    grid-row: 1;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-image: url("../../../image/edit_button.svg");
}

.button_profile_edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 659px) {
    .button_profile_edit {
        grid-column: 3;
        height: 18px;
        width: 18px;
    }
}