.profile__avatar {
    max-width: 120px;
    width: 100%;
    min-height: 120px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    background-color: #fff;
}

@media screen and (max-width: 659px) {
    .profile__avatar {
        justify-self: center;
        margin-bottom: 26px;
    }
}