.popup__button_submit {
    min-height: 50px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.popup__button_submit:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 659px) {
    .popup__button_submit {
        min-height: 46px;
    }
}